:root {
  --bg: #1c1c1c;
  --txt: #f2f2f2;
  --btn: #673ab8;
  --btn2: gold;
}
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1c1c;
    --txt: #f2f2f2;
    --btn: #673ab8;
    --btn2: gold;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --bg: #f2f2f2;
    --txt: #1c1c1c;
    --btn: #084cdf;
    --btn2: #0d45a5;
  }
}
html[data-theme="light"] {
  --bg: #f2f2f2;
  --txt: #1c1c1c;
  --btn: #084cdf;
  --btn2: #0d45a5;
}
html[data-theme="dark"] {
  color-scheme: "dark";
  --bg: #1c1c1c;
  --txt: #f2f2f2;
  --btn: #673ab8;
  --btn2: gold;
}
html {
  font-family: "Cabin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: var(--txt);
  background-color: var(--bg);
}
div.content {
  position: absolute;
  left: 50%;
  top: 27%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
div.upload {
  display: flex;
  flex-direction: row;
}
input[type="file"]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: var(--btn);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--txt);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

input[type="file"]::file-selector-button:hover {
  background: var(--btn2);
  color: var(--bg);
}

.subbtn {
  margin-right: 20px;
  border: none;
  background: var(--btn);
  padding: 10px 20px;
  border-radius: 10px;
  color: var(--txt);
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.subbtn:hover {
  background: var(--btn2);
  color: var(--bg);
}

.hero {
  border-radius: 7px;
}
.lod {
  font-size: small;
}

@media only screen and (max-width: 450px) {
  div.content {
    position: absolute;
    margin: auto;
    max-width: max-content;
    text-align: center;
  }
  .hero {
    max-width: 320px;
  }
  div.upload {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}
